<h2> {{name}}</h2>
<div class="country-box">
  <div class=" text">
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:
    <ul>
      {{#each Languages}}
      <li class="lang-item">{{this}}</li>
      {{/each}}
    </ul>
    </p>
  </div>
  <div class="picture">{{flag}}</div>
</div>